@using ProtectionTools.Core.Elements.ElectroReceivers
@model List<ProtectionTools.Web.Models.Tools.ElementViewModel>

<div id="elements">
    <table class="table">
        @{
            var row = Model.FirstOrDefault();
        }
        <tr>
            <th>@Html.DisplayNameFor(model => row.ConnectionType)</th>
            <th>@Html.DisplayNameFor(model => row.ActivePower)</th>
            <th>@Html.DisplayNameFor(model => row.Count)</th>
            <th>@Html.DisplayNameFor(model => row.UsingCoefficient)</th>
            <th>@Html.DisplayNameFor(model => row.Cos)</th>
            <th>@Html.DisplayNameFor(model => row.TotalNominalPower)</th>
            <th>@Html.DisplayNameFor(model => row.ReactiveLoad)</th>
            <th></th>
        </tr>

        @for (var i = 0; i < Model.Count; i++) {
            <tr>
                <td>
                    @Html.DisplayFor(m => Model[i].ConnectionType)
                    @Html.HiddenFor(m => Model[i].ConnectionType)
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].ActivePower)
                    @Html.HiddenFor(model => Model[i].ActivePower)
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].Count)
                    @Html.HiddenFor(model => Model[i].Count)
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].UsingCoefficient)
                    @Html.HiddenFor(model => Model[i].UsingCoefficient)
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].Cos)
                    @Html.HiddenFor(model => Model[i].Cos)
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].TotalNominalPower)
                    @Html.HiddenFor(model => Model[i].TotalNominalPower)
                </td>
                <td>
                    @Html.DisplayFor(model => Model[i].ReactiveLoad)
                    @Html.HiddenFor(model => Model[i].ReactiveLoad)
                </td>
                <td>@Ajax.ActionLink("Удалить", "RemoveConnection", "Tools", new {elementId = Model[i].Id}, new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "elements"})</td>
            </tr>
        }
        <tr>
            <td>@Html.DropDownList("connectionType", Enum.GetNames(typeof(ConnectionType)).Select(x => new SelectListItem { Text = x, Value = x }))</td>
            <td>@Html.Editor("activePower")</td>
            <td>@Html.Editor("count")</td>
            <td>@Html.Editor("usingCoefficient")</td>
            <td>@Html.Editor("cos")</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
</div>

